.cyan-reader {
  --cyan-reader-surface-color: #fff;

  @media (prefers-color-scheme: dark) {
    --cyan-reader-surface-color: #181818;
  }

  p {
    @apply font-light text-base mb-4;
  }

  blockquote {
    @apply my-6 p-4 bg-background-secondary;
    border: 1px solid var(--cyan-border-stronger-color);
    border-radius: 12px;
  }

  blockquote > p {
    @apply mb-2;
  }

  blockquote > p:last-child {
    @apply mb-0;
  }

  ul,
  ol {
    @apply pl-4 my-4;

    li {
      @apply pl-1;

      &::marker {
        @apply font-serif font-light text-accent;
      }
    }

    p {
      @apply mb-1;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply relative font-serif text-accent;

    &::before {
      content: "#";
      left: -30px;
      top: 8px;
      width: 20px;
      height: 20px;
      border: 1px solid var(--cyan-border-stronger-color);
      border-radius: 4px;
      background-color: var(--cyan-reader-surface-color);

      @apply absolute flex items-center justify-center font-serif text-xs shadow opacity-0 transition-opacity duration-200 pointer-events-none;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  h1 {
    @apply text-3xl mt-8 mb-4;
  }

  h2 {
    @apply text-xl mt-6 mb-4;

    &::before {
      top: 5px;
    }
  }

  h3,
  h4,
  h5 {
    @apply text-lg mb-4;

    &::before {
      top: 4px;
    }
  }

  a {
    @apply text-accent underline decoration-transparent hover:decoration-accent transition-colors duration-200;
  }

  strong {
    @apply font-bold;
  }

  code {
    @apply relative px-1 bg-accent-alt/10 text-accent font-mono font-light;
  }
}

.shiki-code {
  pre {
    @apply my-6 py-4 overflow-x-scroll;
    border-radius: 12px;
    border: 1px solid var(--cyan-border-stronger-color);
  }

  code {
    @apply flex flex-col text-sm text-foreground bg-transparent p-0 min-w-full w-fit;
  }

  .line {
    @apply block px-5 py-[1px];

    &.highlighted-line {
      @apply bg-background-tertiary;
    }
  }

  @media (prefers-color-scheme: dark) {
    pre {
      background-color: var(--shiki-dark-bg) !important;
    }

    span {
      color: var(--shiki-dark) !important;
    }
  }
}
