@layer base {
  html {
    scroll-padding-top: 100px;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }

  *::selection {
    background-color: --alpha(var(--color-primary) / 15%);
  }

  .theme-transition:root {
    *:not([data-custom-theme-transition]) {
      transition:
        color 0.4s linear 0s,
        background-color 0.4s linear 0s,
        border-color 0.4s linear 0s !important;
    }
  }
}

@custom-variant dark {
  :root[data-theme="dark"] & {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    :root[data-theme="system"] & {
      @slot;
    }
  }
}