@layer base {
  html {
    scroll-padding-top: 100px;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }

  *::selection {
    background-color: --alpha(var(--color-primary) / 15%);
  }

  .theme-transition:root {
    * {
      transition:
        background-color 0.3s linear 0s,
        border-color 0.3s linear 0s !important;
    }
    
    .theme-switcher-thumb {
        transition:
          background-color 0.3s linear 0s,
          color 0.3s linear 0s,
          left 0.2s ease-out 0s !important;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span,
    strong,
    a,
    code,
    svg {
      transition: color 0.3s linear 0s !important;
    }
  }
}

@custom-variant dark {
  :root[data-theme="dark"] & {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    :root[data-theme="system"] & {
      @slot;
    }
  }
}