@layer components {
  .page-title {
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
  }

  .page-subtitle {
    font-size: var(--text-base);
    color: var(--color-secondary);
    margin-top: calc(var(--spacing) * 6);
  }

  .theme-switcher {
    view-transition-name: theme-switcher;
    
    @apply winter-board-aware;
  }

  ::view-transition-old(theme-switcher),
  ::view-transition-new(theme-switcher) {
    animation: none;
  }

  ::view-transition-old(theme-switcher) {
    /**
     * theme-switcher has a custom transition itself, this is
     * only for bringing the switcher on top of the root view
     * transition layers.
     */
    opacity: 0;
  }

  .theme-switcher-thumb {
    transition: background-color 0.3s,
                left 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  }

  .md-reader {
    line-height: 28px;

    h1 {
      margin-top: calc(var(--spacing) * 10);
      margin-bottom: calc(var(--spacing) * 5);
      font-size: var(--text-3xl);
      font-weight: var(--font-weight-semibold);
    }

    h2 {
      margin-top: calc(var(--spacing) * 8);
      margin-bottom: calc(var(--spacing) * 4);
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-semibold);
    }

    h3 {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 4);
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
    }

    p {
      margin: calc(var(--spacing) * 4) 0;
    }

    a {
      color: var(--color-link);
      text-decoration: underline;
      text-decoration-color: transparent;
      transition:
        color 0.2s,
        text-decoration-color 0.2s;

      &:hover {
        color: var(--color-link-highlighted);
        text-decoration-color: var(--color-link-highlighted);
      }
    }

    strong {
      font-weight: var(--font-weight-semibold);
    }

    ul,
    ol {
      padding-left: calc(var(--spacing) * 6);
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;

      li::marker {
        color: var(--color-secondary);
      }
    }

    li {
      padding-left: var(--spacing);

      &::marker {
        color: var(--color-tertiary);
      }
    }

    code {
      font-weight: var(--font-weight-medium);

      &::before,
      &::after {
        content: "`";
      }
    }

    pre {
      code {
        &::before,
        &::after {
          content: none;
        }
      }
    }

    blockquote {
      margin: calc(var(--spacing) * 6) 0;
      padding: calc(var(--spacing) * 1) calc(var(--spacing) * 4);
      border-left: 3px solid var(--color-separator);
      font-style: italic;
      color: var(--color-secondary);

      p {
        margin: calc(var(--spacing) * 2) 0;
      }

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .code-block {
    padding: calc(var(--spacing) * 2) 0;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-separator);
    border-radius: var(--radius-md);
    overflow-x: scroll;
    
    @apply winter-board-aware;
  
    pre {
      background-color: transparent !important;
    }
  
    code {
      display: flex !important;
      width: fit-content;
      min-width: 100%;
      flex-direction: column;
      font-size: var(--text-sm);
  
      & > span {
        height: 23px;
        line-height: 23px;
        flex-grow: 1;
        padding: 0 calc(var(--spacing) * 4);
      }
  
      & > span[data-highlighted-line] {
        background-color: var(--color-code-highlighted-line);
      }
    }
  
    .shiki span {
      color: var(--shiki-light);
        
      :root[data-theme="dark"] & {
        color: var(--shiki-dark) !important;
      }
  
      @media (prefers-color-scheme: dark) {
        :root[data-theme="system"] & {
          color: var(--shiki-dark) !important;
        }
      }
    }
  }
}

@utility winter-board-aware {
  .winter-board-enabled & {
    backdrop-filter: blur(4px);
  }
}