@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --color-background: var(--color-neutral-50);
  --color-background-secondary: var(--color-neutral-100);
  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
  --color-tertiary: var(--color-neutral-300);
  --color-separator: --alpha(var(--color-primary) / 8%);
  --color-backdrop-tint: --alpha(var(--color-background) / 75%);
  --color-body: var(--color-neutral-600);
  --color-link: var(--color-blue-500);
  --color-link-highlighted: var(--color-blue-700);
  --color-code-highlighted-line: --alpha(var(--color-neutral-200) / 75%);

  --animate-glitch-blink: glitch-blink 2s linear both;
  @keyframes glitch-blink {
    0%,
    30%,
    34%,
    40%,
    44%,
    65% {
      opacity: 0;
    }
    70%,
    98% {
      opacity: 0.3;
      text-shadow: 0px 0px 30px rgb(255 255 255 / 90%);
    }
    33%,
    43%,
    100% {
      opacity: 1;
      text-shadow: 0px 0px 50px rgb(255 255 255 / 80%);
    }
  }
  
  --animate-cursor-blink: cursor-blink 1.2s infinite;
  @keyframes cursor-blink {
    0%,
    45% {
      opacity: 1;
    }
    60%,
    98% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility dark-theme-colors {
  --color-background: var(--color-neutral-900);
  --color-background-secondary: --alpha(var(--color-neutral-950) / 50%);
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
  --color-tertiary: var(--color-neutral-600);
  --color-separator: --alpha(var(--color-primary) / 12%);
  --color-backdrop-tint: --alpha(var(--color-background) / 75%);
  --color-body: var(--color-neutral-300);
  --color-link: var(--color-blue-400);
  --color-link-highlighted: var(--color-blue-300);
  --color-code-highlighted-line: --alpha(var(--color-neutral-800) / 60%);
}

@layer theme {
  :root[data-theme="dark"] {
    @apply dark-theme-colors;
  }

  @media (prefers-color-scheme: dark) {
    :root[data-theme="system"] {
      @apply dark-theme-colors;
    }
  }
}